@{
    ViewData["Title"] = "İletişim  | PROESTETİK";
    ViewData["MetaDescription"] = "Bizimle iletişime geçin";
    ViewData["MetaKeywords"] = "";

}
    <!-- Header Banner -->
<div class="banner-header section-padding bg-position-bottom valign bg-img" data-background="/img/banner2.jpg" style="background-image: url(&quot;/img/banner2.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left caption mt-90">
                <h5>
                    Daha detaylı Bilgi için iletişime geçin
                </h5>
                <h1>İletişim</h1>
            </div>
        </div>
    </div>
</div>
    <!-- Contact -->
    <section class="contact section-padding">
        <div class="container">
            <div class="row mb-90">
                <div class="col-md-6 mb-60">
                <h3>Neden Proestetik ?</h3>
                <p>Müşterilerimizin güvenini kazanmak bizler için çok önemli! Pro Estetik Diş kliniği olarak 2011 yılından bu yana en kaliteli ağız ve diş sağlığı hizmetlerini veriyoruz. Hizmetlerimizi hem ulusal hem de uluslararası müşterilerimize vererek ağımızı büyütmeye devam etmekteyiz. Son teknolojiyle birlikte modern bir klinikte müşterilerimizin tedavilerini en iyi şekilde gerçekleştiriyoruz.</p>
                    <div class="reservations mb-30">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                        <p>Telefon</p> <a href="tel:@DataRequestModel.SiteSetting.Phone">@DataRequestModel.SiteSetting.Phone</a>
                        </div>
                    </div>
                    <div class="reservations mb-30">
                        <div class="icon"><span class="flaticon-envelope"></span></div>
                        <div class="text">
                        <p>E-mail</p> <a href="mailto:@DataRequestModel.SiteSetting.Email">@DataRequestModel.SiteSetting.Email</a>
                        </div>
                    </div>
                    <div class="reservations">
                        <div class="icon"><span class="flaticon-location-pin"></span></div>
                        <div class="text">
                        @DataRequestModel.SiteSetting.Address
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mb-30 offset-md-1">
                    <h3>Bize Ulaşın</h3>
                    <form method="post" class="contact__form" action="mail.php">
                        <!-- form message -->
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success contact__msg" style="display: none" role="alert"> Mesajınız Başarılı Bir Şekilde Gönderildi. </div>
                            </div>
                        </div>
                        <!-- form elements -->
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input name="name" type="text" placeholder="Ad Soyad *" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="email" type="email" placeholder="E-mail *" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="phone" type="text" placeholder="Telefon *" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="subject" type="text" placeholder="Konu *" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea name="message" id="message" cols="30" rows="4" placeholder="Mesajınız *" required></textarea>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="butn-dark2"><span>GÖNDER</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Map Section -->
            <div class="row">
                <div class="col-md-12 map animate-box" data-animate-effect="fadeInUp">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24997.0259672129!2d27.189809!3d38.450055!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbd85c3e2d3d6d%3A0xaa0a2cff973f0a12!2zUHJvIEVzdGV0aWsgQcSfxLF6IHZlIERpxZ8gU2HEn2zEscSfxLEgUG9saWtsaW5pxJ9p!5e0!3m2!1str!2sus!4v1759392239405!5m2!1str!2sus" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </section>
